In [49]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import tweepy
from datetime import datetime
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [50]:
# Twitter API Keys
consumer_key = "7xy8Y9idclPxi4SluDxxuRVoQ"
consumer_secret = "L6Mw9c27q8nUIW0c5sF8o0qAV7QCsv8tqEpYR5bKtqcE3W6rqQ"
access_token = "906340601829851136-upXhJ8ahxI95FYlAQHWivFFO4515Y8a"
access_token_secret = "iSa1fb0Ff4unJ0zPzabUlUBIL29Y3zyEhmLocMBEraA7K"

# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [ ]:
target_users = ["BBC","CBC","CNN","FoxNews","nytimes"]

In [ ]:
# List for holding sentiments
sentiments =[]

In [60]:
# Loop through target users
for user in target_users:
    
    tweet_number = 0
    
    for x in range(5):
        public_tweets = api.user_timeline(user, page = x)
    
    
    for tweet in public_tweets:
        
        #Run the Vader analysis on each tweet.
        compound = analyzer.polarity_scores(tweet["text"])["compound"]
        pos = analyzer.polarity_scores(tweet["text"])["pos"]
        neu = analyzer.polarity_scores(tweet["text"])["neu"]
        neg = analyzer.polarity_scores(tweet["text"])["neg"]
        tweet_text = tweet["text"]
        tweets_ago = tweet_number
        
        #Create a dictionary of sentiments
        sentiments.append({"News Source" : user,
                           "Date": tweet["created_at"],
                           "Compound" : compound,
                           "Positive" : pos,
                           "Negative" : neg,
                           "Neutral" : neu,
                           "Tweets ago": tweet_number,
                           "Tweet Text": tweet_text})
        tweet_number+=1

In [61]:
#create a data frame
news_sentiments = pd.DataFrame.from_dict(sentiments)
news_sentiments.head()

,Compound,Date,Negative,Neutral,News Source,Positive,Tweet Count,Tweet Text,Tweets ago
0,0.3400,Tue Mar 20 17:33:03 +0000 2018,0.102,0.738,BBC,0.160,1.0,Professor Stephen Hawking's funeral will take ...,NaN
1,0.0000,Tue Mar 20 17:03:01 +0000 2018,0.000,1.000,BBC,0.000,2.0,Un-bee-lievable! üêùüòç Meet the woman who kept a ...,NaN
2,0.0000,Tue Mar 20 16:05:04 +0000 2018,0.000,1.000,BBC,0.000,3.0,"Arise, Sir Ringo! üéñüé∂@thebeatles drummer @ringo...",NaN
3,0.0000,Tue Mar 20 15:33:03 +0000 2018,0.000,1.000,BBC,0.000,4.0,The first polar bear cub to be born in the UK ...,NaN
4,0.4084,Tue Mar 20 15:03:02 +0000 2018,0.000,0.868,BBC,0.132,5.0,'Everybody has a voice'. ‚ù§Ô∏èÔ∏èüé∂\n\nRugby legends...,NaN

In [54]:
#export Data Frame into csv
news_sentiments.to_csv("News_Sentiments.csv")

In [64]:
# get the overall sentiment per media and store it in a dataframe
sentiment_overall = news_sentiments.groupby('News Source').agg({'Compound': np.mean}).reset_index()
sentiment_overall

  News Source  Compound
0         BBC  0.141409
1         CBC  0.527259
2         CNN -0.128271
3     FoxNews -0.146521
4     nytimes -0.031629

In [ ]:
#datetime.strptime(Date, "%a %b %d %H:%M:%S %z %Y")

In [57]:
#plt.scatter(x_axis, data, marker="o", facecolors="red", edgecolors="black", s=x_axis, alpha=0.75)